@charset "UTF-8";
body {
  font-family: 'Gotham Pro', sans-serif;
}

/*End*/
/*Создание пустых классов*/
.none {
  display: none;
}

.container {
  width: 90%;
  margin: auto;
}

/*End*/
header {
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 2;
}

header:before {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-animation: movingHeader 25s infinite running;
          animation: movingHeader 25s infinite running;
  z-index: 1;
}

@-webkit-keyframes movingHeader {
  0% {
    left: 0;
  }
  10% {
    left: 10%;
  }
  20% {
    left: 5%;
  }
  30% {
    left: 15%;
  }
  40% {
    left: 30%;
  }
  50% {
    left: 40%;
  }
  60% {
    left: 30%;
  }
  75% {
    left: 50%;
  }
  90% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}

@keyframes movingHeader {
  0% {
    left: 0;
  }
  10% {
    left: 10%;
  }
  20% {
    left: 5%;
  }
  30% {
    left: 15%;
  }
  40% {
    left: 30%;
  }
  50% {
    left: 40%;
  }
  60% {
    left: 30%;
  }
  75% {
    left: 50%;
  }
  90% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}

.nav {
  position: relative;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: white;
}

.nav .social-info {
  height: 50%;
  width: 33%;
  z-index: 1;
}

.nav .social-icons li {
  margin-top: 2rem;
  position: relative;
  margin-left: 1.5rem;
  width: 5rem;
  height: 5rem;
}

.nav .social-icons li a {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  width: 2.8rem;
  top: 0;
  border-bottom: 2.45rem solid rgba(0, 178, 255, 0.5);
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
}

.nav .social-icons li a:before {
  content: '';
  position: absolute;
  height: 0;
  width: 2.8rem;
  border-top: 2.45rem solid rgba(0, 178, 255, 0.5);
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
  top: 2.45rem;
  left: -1.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.nav .social-icons li a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  border-bottom: 2.45rem solid #373435;
}

.nav .social-icons li a:hover:before {
  border-top: 2.45rem solid #373435;
}

.nav .social-icons li a:hover .icon {
  color: #00b2ff;
}

.nav .social-icons li a .icon {
  position: absolute;
  color: rgba(55, 54, 53, 0.7);
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  top: 1.5rem;
}

.nav .contact-info {
  width: 33%;
  margin-top: 1.5rem;
}

.nav .contact-info .Number {
  text-align: right;
  font-size: 2rem;
  color: #373435;
}

.nav .contact-info .Work-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  margin-top: 1.5rem;
  text-align: right;
}

.nav.sticky {
  height: 15%;
  width: 100%;
  position: fixed;
  background-color: #646464;
  -webkit-box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.35);
  -webkit-animation-name: animationFade;
          animation-name: animationFade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 2;
}

.nav.sticky .nav-list li a {
  color: rgba(255, 255, 255, 0.95);
}

.nav.sticky .lang ul li a {
  color: rgba(255, 255, 255, 0.9);
}

@-webkit-keyframes animationFade {
  from {
    opacity: 0.7;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

@keyframes animationFade {
  from {
    opacity: 0.7;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-transform: none;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 5rem;
  width: 33%;
  z-index: 0;
}

.logo-img {
  padding-top: 0.5rem;
  width: 100%;
  text-align: center;
}

.logo a img {
  width: 50%;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  font-size: 1.8rem;
  font-weight: 500;
  color: #373435;
  z-index: 1;
}

.nav-list .nav-list-items {
  position: relative;
  margin-left: 2rem;
  text-transform: uppercase;
}

.nav-list .nav-list-items:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: -0.3rem;
  background-color: #373435;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-list .nav-list-items:after {
  content: '';
  position: absolute;
  background-image: url("../images/L3.png");
  background-position: center;
  background-size: cover;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: -1231543534523;
  width: 2rem;
  height: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-list .nav-list-items:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-list .nav-list-items:hover:after {
  -webkit-transform: translateX(-50%) translateY(-5%);
          transform: translateX(-50%) translateY(-5%);
}

.nav-list .nav-list-items a {
  color: #373435;
}

.lang {
  width: 10%;
}

.lang .lang-items {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.lang .lang-items a {
  color: #373435;
}

.ru {
  position: relative;
}

.ru:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -.5rem;
  background-color: #00afef;
}

/*block-1*/
#hostel-info {
  padding: 5rem 0;
}

#hostel-info .container .title {
  text-align: center;
  color: #373435;
  text-transform: uppercase;
  font-size: 4rem;
}

#hostel-info .container .row .col-4 {
  padding: 5rem 6rem 1rem 0;
  width: 35%;
  text-align: right;
}

#hostel-info .container .row .Snow {
  color: #00afef;
}

#hostel-info .container .row .col-4 h4 {
  text-transform: uppercase;
  color: #373435;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 2rem;
  text-align: right;
}

#hostel-info .container .row .reserve {
  margin-top: 5rem;
  color: #fff;
  font-size: 2.5rem;
  padding: 1rem 4rem 0 4rem;
  text-align: center;
  text-transform: uppercase;
  min-height: 5rem;
  background-color: #373435;
  border-radius: 0.6rem;
}

#hostel-info .container .row .col-8 {
  padding-top: 4rem;
  width: 65%;
}

#hostel-info .container .row .col-8 .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#hostel-info .container .row .col-8 .col-3 {
  padding: 1rem;
  width: 25%;
}

#hostel-info .container .row .col-8 .col-3 .hostel-items {
  margin: 1rem;
}

#hostel-info .container .row .col-8 .hostel-items .items-title {
  margin: 1rem 0;
  color: #00afef !important;
}

#hostel-info .container .row .col-8 .row .col-3 .hostel-items .text {
  color: #373435;
  font-size: 1.4rem;
}

/* #Hero section*/
#hero {
  position: relative;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  background: url("../images/bg-home.jpg") center no-repeat fixed;
  background-size: cover;
}

#hero:before {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0 0 1.5rem 1.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 1.5rem 1.5rem rgba(0, 0, 0, 0.8);
  -webkit-animation: movingBlock 25s infinite running;
          animation: movingBlock 25s infinite running;
}

@-webkit-keyframes movingBlock {
  0% {
    left: 0;
  }
  10% {
    left: 10%;
  }
  20% {
    left: 5%;
  }
  30% {
    left: 15%;
  }
  40% {
    left: 30%;
  }
  50% {
    left: 40%;
  }
  60% {
    left: 30%;
  }
  75% {
    left: 50%;
  }
  90% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}

@keyframes movingBlock {
  0% {
    left: 0;
  }
  10% {
    left: 10%;
  }
  20% {
    left: 5%;
  }
  30% {
    left: 15%;
  }
  40% {
    left: 30%;
  }
  50% {
    left: 40%;
  }
  60% {
    left: 30%;
  }
  75% {
    left: 50%;
  }
  90% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}

#hero .booking {
  position: absolute;
  top: 40%;
  right: 15%;
  width: 30%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 2px;
}

#hero .booking .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

#hero .booking .booking-form {
  height: 100%;
  width: 100%;
}

#hero .booking-form input {
  padding-left: 1rem;
  margin-top: 1rem;
  height: 15%;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.10rem solid #00afef;
  background-color: transparent;
  color: #99D3FF;
  outline: none;
}

#hero .booking .booking-form .form-button {
  background-color: #00afef;
  color: #fff;
  margin-left: 25%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  width: 50%;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-size: 1.3rem;
}

#hero .booking .booking-form .form-button:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Firefox 19+ */
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/*/End*/
.welcome {
  padding: 5rem 0;
}

.welcome .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.welcome .row .col-6:nth-child(1) {
  background-image: url("../images/welcome-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.welcome .row .col-6 + .col-6 {
  position: relative;
  padding: 10rem 5rem;
  width: 50%;
}

.welcome .row .col-6 + .col-6 .title {
  font-family: "Sansita",sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
  color: #00afef;
}

.welcome .row .col-6 + .col-6 .text {
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.7);
  margin: 5rem 0;
  width: 55%;
  font-size: 2rem;
}

.our-features {
  margin: 5rem 0;
}

.our-features .features-items {
  display: block;
  font-size: 2rem;
  margin-top: 0.2rem;
}

.fa.fa-check {
  color: #43be49;
}

#Facilities {
  padding: 10rem 10rem;
}

#Facilities .title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Gotham Pro",sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: #00afef;
}

#Facilities .title-info {
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}

#Facilities .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem;
}

.row .col-1 {
  width: 16.6666%;
  padding: 1rem;
  text-align: center;
}

.row .col-1 .home-items {
  padding: 2rem 1rem 0 1rem;
  height: 100%;
  margin: 0.5rem;
  cursor: pointer;
}

.row .col-1 .home-items:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.row .col-1 .home-items img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  max-width: 50%;
}

.items-title {
  font-size: 1.6rem;
  margin-top: 3rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

/*/////Footer//////*/
footer {
  background-color: #373435;
  padding: 7rem 0 0;
}

footer a {
  color: #fff !important;
}

footer .container {
  width: 90%;
  height: 100%;
  margin: auto;
}

footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1.5rem;
  width: 100%;
  height: 100%;
}

footer .col-3 {
  height: 100%;
  width: 25%;
  padding: 2rem 1.5rem;
}

.foot-item {
  height: 100%;
  width: 100%;
}

.foot-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #e0e0e0;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.event-description, .news-description {
  padding: 0 0 0 1rem;
}

.event-title, .news-title {
  margin-top: 0.7rem;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.event-title a, .news-title a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.event-title a:hover, .news-title a:hover {
  color: #e0e0e0;
}

.foot-event-1, .foot-event-2, .foot-news-1, .foot-news-2 {
  padding: 1rem 0;
  height: 50%;
  width: 100%;
}

.foot-description {
  width: 100%;
  height: 80%;
}

.foot-event-1 img, .foot-event-2 img, .foot-news-1 img, .foot-news-2 img {
  padding: 1rem 0 0 0;
  max-width: 30%;
}

.event-text, .news-text {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #e0e0e0;
}

.time {
  color: rgba(255, 255, 255, 0.5);
}

.links .links-item {
  display: block;
  position: relative;
  margin-left: 1.5rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.links .links-item:before {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #00afef;
  border-radius: 50%;
  left: -1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.links-item a {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.links .links-item a:before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  background-color: #e0e0e0;
  width: 100%;
  height: 0.2rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.links-item a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.foot-contact {
  height: 100%;
  font-size: 1.5rem;
  color: white;
}

.foot-contact .contact-list .ct-list {
  display: block;
  margin-top: 1.8rem;
}

.foot-bottom {
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.foot-bottom .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.copyright {
  padding-top: 1rem;
  color: white;
  font-size: 2rem;
  width: 50%;
}

.foot-bottom .social-media {
  width: 25%;
}

.foot-bottom .social-icons li {
  position: relative;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
}

.foot-bottom .social-icons li a {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  width: 2.8rem;
  top: 0;
  border-bottom: 2.45rem solid #373435;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.foot-bottom .social-icons li a:before {
  content: '';
  position: absolute;
  height: 0;
  width: 2.8rem;
  border-top: 2.45rem solid #373435;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
  top: 2.42rem;
  left: -1.4rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.foot-bottom .social-icons li a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.foot-bottom .social-icons li a .icon {
  position: absolute;
  color: #868284;
  font-size: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1.5rem;
}

.author {
  text-align: center;
  padding-top: 0.8rem;
  font-family: "Segoe UI",sans-serif;
  font-size: 2rem;
  font-style: italic;
  width: 25%;
}

.author a {
  color: #868284;
}

.post-slide {
  padding: 5rem 0 3rem 0;
  margin: 0 1rem;
}

.post-slide .post-info {
  padding: 0.5rem 0;
  margin: 0;
  list-style: none;
}

.post-slide .post-info li {
  display: inline-block;
  margin: 0 0.5rem;
}

.post-slide .post-info li i {
  margin-right: 1rem;
}

.post-slide .post-info li a {
  font-size: 1.1rem;
  font-weight: bold;
  color: dimgray;
  text-transform: uppercase;
}

.post-slide .post-info li a:hover {
  color: #00afef;
  text-decoration: none;
}

.post-slide .post-img {
  position: relative;
}

.post-slide .post-img:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.post-slide:hover .post-img:before {
  opacity: 1;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
}

.post-slide .read {
  position: absolute;
  text-align: center;
  padding: 1rem 3rem;
  bottom: 3rem;
  left: 5rem;
  font-size: 1.5rem;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transition: opacity 0.4s linear 0s;
  transition: opacity 0.4s linear 0s;
  border: 2px solid #fff;
}

.post-slide:hover .read {
  opacity: 1;
}

.post-slide .read:hover {
  text-decoration: none;
  color: #00afef;
  border-color: #00afef;
}

.post-slide .post-content {
  padding: 4rem 0;
  position: relative;
}

.post-slide .post-author {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  top: -3.5rem;
  right: 1rem;
  overflow: hidden;
  border: 0.4rem solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.post-slide .post-author img {
  width: 100%;
  height: auto;
}

.post-slide:hover .post-author {
  top: -3.7rem;
  right: 2rem;
  width: 7rem;
  height: 7rem;
}

.post-slide .post-title {
  font-size: 14px;
  font-weight: bold;
  color: #1dcfd1;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-slide .post-title:after {
  content: "";
  width: 3.5rem;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #222;
}

.post-slide .post-description {
  font-size: 14px;
  color: #373435;
  margin-bottom: 2rem;
  font-family: "Gotham Pro",sans-serif;
}

.bars {
  display: none;
}

#booking {
  height: 100vh;
  width: 100%;
  background: url("../images/снимок.png");
}

@media screen and (max-width: 1199.98px) {
  html {
    font-size: 9px;
  }
  .container .row .col-3 {
    width: 50%;
  }
  .row .col-1 {
    width: 25%;
  }
}

@media screen and (max-width: 991.98px) {
  html {
    font-size: 8px;
  }
  .logo-text {
    font-size: 2rem !important;
  }
  .Vertical {
    display: none;
  }
  .row .col-1 img {
    width: 50%;
  }
  #hero .booking {
    width: 45%;
  }
  #hostel-info .container .row .col-4 {
    text-align: left !important;
    padding: 5rem 6rem 1rem 2rem;
  }
  #hostel-info .container .row .col-4 h4 {
    text-align: left;
  }
  #hostel-info .container .row .col-8 .col-3 {
    padding: 1rem;
  }
}

@media screen and (max-width: 767.98px) {
  .toggle-wrap, .menu {
    display: block;
  }
  .nav .social-info, .nav .contact-info, .nav .nav-list, .lang {
    display: none;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .nav.sticky {
    background-color: #fff;
  }
  .bars {
    padding-top: 1rem;
    text-align: right;
    display: block;
    width: 55%;
  }
  .bars img {
    height: 100%;
    width: 50%;
  }
  .logo-img {
    height: 100%;
    max-width: 100%;
    text-align: left;
  }
  .logo-img img {
    height: 100%;
    width: 100%;
  }
  header {
    height: 15%;
  }
  html {
    font-size: 9px;
  }
  .row .col-1 img {
    width: 40%;
  }
  .foot-bottom .social-media, .copyright, .author {
    margin: 2rem 0;
    width: 100%;
  }
  .foot-bottom .social-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .author {
    text-align: left;
  }
  #hero .booking {
    width: 50%;
  }
  #hostel-info .container .row .col-8 .col-3 {
    padding: 1rem;
    width: 50%;
  }
}

@media screen and (max-width: 575.98px) {
  .row .col-1 img {
    width: 30%;
  }
  html {
    font-size: 8px;
  }
  #hero .booking {
    width: 60%;
  }
  #hostel-info .container .row .col-8 .col-3 {
    padding: 1rem;
  }
  .rooms__btn, .gallery {
    font-size: 2rem !important;
  }
  .rooms__btn {
    padding: 1.6rem 2rem;
  }
  .gallery {
    padding: 1.6rem 3rem;
  }
}

@media screen and (max-width: 375.98px) {
  html {
    font-size: 7px;
  }
  #hero .booking {
    width: 65%;
  }
}

#rooms {
  padding: 10rem 5rem;
}

#rooms h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 4rem;
  color: #373435;
}

#rooms .rooms__item {
  padding: 1rem;
}

#rooms .rooms__item h3 {
  margin: 2rem 0;
  font-size: 2rem;
  color: #00afef;
  text-align: center;
  text-transform: uppercase;
}

#rooms .rooms__item .gallery {
  font-family: "Sansita",sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: orange;
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem 3rem;
}

#rooms .rooms__item .rooms__btn {
  font-family: "Sansita",sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: #00afef;
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */